# 카카오톡 데이터 처리
- kakao.txt파일을 입력
- [대화명]에 해당하는 사람의 대화를 추출하여 바로 위 대화와 짝을 지어 학습 데이터셋 구성

In [3]:
import pandas as pd
from tqdm.notebook import tqdm

In [15]:
nickname = '혜성' #학습 대상 닉네임
nickname = '[' + nickname
f = open('kakao.txt', 'r', encoding='UTF-8')
lines = f.readlines()[5:]
df = pd.DataFrame(columns=['questions', 'answers'])

In [20]:
name = msg = '' #바로 이전 대화 저장
for line in tqdm(lines):
    #대화가 아닌 부분에 대한 예외처리
    if line.find('들어왔습니다.')>0 or line.find('나갔습니다.')>0 or line.find('---------------')>=0: continue
    if line.find('[오전')==-1 and line.find('[오후')==-1: continue
        
    try:
        last_name, last_msg = name, msg
        name, msg = line.split('] [')
        msg = msg.split('] ',1)[1].strip()
        #링크가 들어간 부분은 제외
        if name==nickname and last_name!=nickname and last_msg.find('http')==-1 and msg.find('http')==-1:
            df = df.append({'questions':last_msg, 'answers':msg}, ignore_index=True)
    except:
        pass
df.to_csv('processed_kakao.csv', index = False)

HBox(children=(FloatProgress(value=0.0, max=188458.0), HTML(value='')))

In [21]:
df

                questions                     answers
0                      나다                        nada
1                    방가방가                         ㅈㅈㅈ
2                 어디서봐야돼?                     꽁짜로 보려면
3                    ㅇㅋㅇㅋ                       조선니체좌
4              청출어람 당할듯 ㅠ  @검네이버   이 친구도 알바로 집어넣어버립시다
...                   ...                         ...
15358          혜성 고마어 ㅎㅎㅎ                          사진
15359            나대지안을게..                        진짜임?
15360                   ?                누가햇냐 진짜 개빡치게
15361                  오와            선착순 선물이 곧 종료됩니다.
15362  귀찮아서 집왔는데 후회된다 좀..                         점박님

[15363 rows x 2 columns]